/* styles.css */

body {
  font-family: "Athelas", serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 20px;
}

hr {
  border: 1px solid #000; /* Sets the border color, width, and style */
  margin-bottom: 2%;
  padding: 0;
}

.header-container {
  margin: 0;
}
.resume-header {
  justify-content: center;
  display: flex;
}

.subsection-header {
  font-size: 22px;
  margin: 0;
}

.entry-header {
  display: flex;
}

.entry-name {
  margin-left: 2%;
  font-weight: bold;
}

.entry-date {
  /*  position on the right side of the screen */
  margin-left: auto;
}

.entry-header-description {
  display: flex;
}
.left {
  margin-left: 2%;
  font-style: italic;
}
.right {
  margin-left: auto;
  font-style: italic;
}
.entry-skills {
  font-style: italic;
}

.entry-description {
  margin-left: 2%;
}

.setting {
  display: flex;
}

.setting-time {
  margin-left: auto;
}

.entry-skill {
  display: flex;
}
